---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Tentang UMPU & Kontak"
	description="Umpu: Pelestari Tradisi Dayak Meratus"
	pubDate={new Date('August 08 2021')}
	
>
	<p>
  <strong>Umpu: Pelestari Tradisi Dayak Meratus</strong>
</p>

<p>
  Umpu perwujudan dari semangat melestarikan budaya <strong>Dayak Meratus</strong>. Menjaga tradisi dan kekayaan budaya leluhur tetap hidup dan beresonansi di tengah tantangan zaman modern.
</p>

<p>
  Melalui Umpu, kita belajar tentang <strong>Kebudayaan Meratus</strong> yang kaya dan unik. Ini bukan hanya soal tarian dan lagu, tetapi juga kearifan lokal dalam menjaga hutan, ritual adat yang mendalam, dan filosofi hidup yang selaras dengan alam.
</p>

<p>
  Bersama Umpu, kita diajak untuk:
</p>
<ul>
  <li>Mengenal <strong>budaya Dayak Meratus</strong> lebih dalam, dari upacara adat hingga seni ukir.</li>
  <li>Memahami pentingnya <strong>hutan Meratus</strong> sebagai sumber kehidupan, tempat ritual, dan warisan bersama.</li>
  <li>Menjadi bagian dari upaya pelestarian yang konkret, agar cerita nenek moyang terus menginspirasi generasi mendatang.</li>
</ul>

<p>
  Umpu adalah jembatan antara masa lalu dan masa kini, memastikan bahwa api budaya Dayak tidak pernah padam. Umpu Itak mengajak kita semua untuk turut serta menjadi bagian dari perjalanan yang luhur, karena melestarikan budaya adalah tanggung jawab bersama.
</p>
	<p>
  <strong><button><a href="mailto:umpumeratus@gmail.com">Kontak</a></button></strong>
</p>
 
</Layout>
